annotated-types==0.7.0
anyio==4.8.0
astroid==3.3.8
black==25.1.0
blinker==1.9.0
cachetools==5.5.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloudevents==1.11.0
colorama==0.4.6
Deprecated==1.2.18
deprecation==2.1.0
dill==0.3.9
docstring_parser==0.16
firebase-admin==6.6.0
Flask==3.1.0
functions-framework==3.8.2
google-api-core==2.24.1
google-auth==2.38.0
